footer {
    height: 40vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

footer>.up {
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: black;
}

.up>.links {
    height: 90%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.links h2{
     background: linear-gradient(135deg, #00E5FF, #7C4DFF);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #E6F6FF;
}

.links a {
    text-decoration: none;
    color: #fff;
}

.up>.contact {
    height: 90%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    color: #fff;
}

.contact>.contact-1 {
    width: 40%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    font-size: 23px;
    gap: 30px;
}

.contact h2 {
    font-size: 30px;
    text-align: center;
    width: 80%;
}

footer>.down-foot {
    height: 20%;
    width: 100%;
    padding-top: 20px;
    background-color: rgba(240, 248, 255, 0.612);
    text-align: center;
    font-size: 25px;
}