nav {
    height: 30vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    position:relative;
    
}

.nav>.top {
    height: 9vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top>.right {
    height: 90%;
    width: 10%;
}

.top>.left {
    height: 90%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.left>a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    font-family: "Poppins", sans-serif;
    opacity: 0.85;
    padding: 0.2rem;
}
a:hover{
    border-bottom: 3px solid #7C4DFF;
}
.nav>.down {
    height: 8vh;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #051939;
}

.right {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
    flex-direction: row;
}

.right>.vision {
    font-size: 28px;
    background: linear-gradient(135deg, #00E5FF, #7C4DFF);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #E6F6FF;
    margin-top: 10px;
}







