
.slider-wrapper {
  width: 120%;
  max-width: 1530px;
  margin: 0 auto;
}

.slick-slide img {
  width: 100%;
  height: 500px;       
  object-fit: cover;
  background-position: center;   
  border-radius: 10px;
}

.slick-dots li button:before {
  color: white;
}

.slick-prev:before,
.slick-next:before {
  color: white;
  font-size: 30px;
}
