
.slider-wrapper {
  width: 120%;
  max-width: 1530px;
  margin: 0 auto;
}

.slick-slide img {
  width: 100%;
  height: 500px;       
  object-fit: cover;
  background-position: center;   
  border-radius: 10px;
}

.slick-dots li button:before {
  color: white;
}

.slick-prev:before,
.slick-next:before {
  color: white;
  font-size: 30px;
}
/* ---------------------------- product list -------------------------------*/

.productsection{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
   font-family: 'JetBrains Mono', monospace;
  text-transform: capitalize;
}
.up-sec{
  height: 10%;
  width: 100%;
  font-size: 28px;
  text-align: center;
}
.down-sec{
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}
.down-sec>.Product{
  height: 70%;
  width: 20%;
  background:black;
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.273);
}
.Product>.Product-img{
  height: 80%;
  width: 100%;
}
.Product-img>img{
  height: 80%;
  width: 90%;
  border-radius: 50%;
  border: 3px solid #fff;
  background-size: cover;
  padding: 2%;
  margin: 5%;
}
.Product-img>hr{
  width: 80%;
  margin-left: 10%;
}
.Product>.product-details{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}
.product-details>.buy-sec{
  display: inline-flex;
  align-items:center;
  justify-content: center;
  font-size: 20px;
  gap: 20px;
  flex-direction: row;
}
.product-details>a:hover{
  border-bottom:3px solid gray ;
}
.product-details>a,h3,h5{
  color: #fff;
}