.page3 {
    height: 100vh;
    width: 100%;
    position: relative;
}

.page3>.size {
    height: 90%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.size>.image-cont3 {
    height: 90%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.image-cont3>.image1 {
    height: 80%;
    width: 32%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.811);
    border: 1px solid rgba(226, 212, 212, 0.1);
    box-shadow: 0 6px 16px rgba(224, 218, 218, 0.1);
}

.image1>button {
    border-radius: 5%;
    border: 1px solid gray;
    padding: 0.5rem;
}

.image1>img {
    height: 70%;
    width: 80%;
    border-radius: 50%;
}