.subcat {
  height: 150vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: relative;
}

.left {
  height: 100%;
  width: 30%;
  background-color: black;
  position: relative;
  color: #fff;
  
}
.left .framesize{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: column;
}
.framesize > select{
  height: 5%;
  width: 90%;
  border-radius: 10px;
  background-color: black;
  color: #fff;
}
.right {
  height: 100%;
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.subsection {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: relative;
  font-family: 'JetBrains Mono', monospace;
  text-transform: capitalize;
}

.downsec {
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}

.downsec>.Products {
  height: 90%;
  width: 40%;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.273);
}

.Products>.Productimg {
  height: 70%;
  width: 100%;
}

.Productimg>img {
  height: 90%;
  width: 90%;
  border: 1px solid #fff;
  margin: 5%;
}
.Products>.productdetails {
  height: 28%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.productdetails>.buy-sec {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  gap: 20px;
  flex-direction: row;
}
.productdetails 
h3{
  font-size: 26px;
  color: #fff;
}
.productdetails 
h5{
  font-size: 20px;
  color: #fff;
}
.productdetails button{
 background-color: black;
 color: #fff;
 border: none;
}
.productdetails button:hover{
  border-bottom: 2px solid slateblue;
}